* {

    margin: 0;
    padding: 0;

}

body{

    font-family: sans-serif;

}

html{

    font-size: 10px;
    height: 100%;
    width: 100%;

}

/* navbar*/

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 57px;
    box-sizing: border-box;
    padding: 0.1rem;
    color: white;
    background-color: black;
    -webkit-box-shadow: 0 4px 4px -3px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, .2);
    z-index: 999;

}

.h1-container{

    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    padding: 0.1rem;
    color: white;
    background-color: black;
    box-sizing: border-box;
    -webkit-box-shadow: 0 4px 4px -3px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, .2);
    z-index: 999;

}

.h1-container > h1{

    font-size: 3rem;
    margin: auto;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 0 1rem 7rem;

}

.nav-container{

    height: inherit;
    top: 0;
    left: 20%;
    width: 80%;
    float: right;

}

.categories{
    
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 5rem;
    position: fixed;
    height: inherit;
    top: 0;
    left: 20%;
    width: 12%;
    padding: 0.1rem;
    border-left: solid gray 0.1px;
    box-sizing: border-box;
    color: white;
    background-color: black;
    -webkit-box-shadow: 0 4px 4px -3px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, .2);
    z-index: 999;

}

.categories i{

    padding-right: 0.5rem;

}

.categories .arrow{

    display: none;

}

.categories:hover{

    cursor: pointer;
    color: rgb(180, 180, 180);

}

.search-container{

    position: fixed;
    top: 0;
    left: 32%;
    width: 55%;
    height: inherit;
    padding: 0.1rem;
    border-left: solid gray 0.1px;
    border-right: solid gray 0.1px;
    box-sizing: border-box;
    color: white;
    background-color: black;
    -webkit-box-shadow: 0 4px 4px -3px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, .2);
    z-index: 999;

}

.search {

    float: right;

}

.search button {

    padding: 0.6rem 1rem;
    margin-top: 0.8rem;
    margin-right: 1.6rem;
    background: #ddd;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;

}

.header input[type=text] {

    padding: 0.6rem 0;
    margin-top: 0.8rem;
    font-size: 1.7rem;
    border: none;

}

.form-search{

    margin-top: 0.2rem;
    margin-right: 2rem;
    display: flex;
    flex-wrap: nowrap;

}

.searcher{

    border: 0.8px 0 0.8px 0.8px solid gray;
    border-radius: 4px 0 0 4px;
    width: 200px;

}

.form-search input[type=text]{

    border-top: 0.8px solid gray;
    border-bottom: 0.8px solid gray;
    border-left: 0.8px solid gray;
    padding-left: 1.2rem;

}

.show-categories{

    font-size: 1.6rem;
    font-weight: bold;
    background-color: white;
    color: rgb(85, 85, 85);
    width: 120px;
    margin-top: 0.8rem;
    padding: 0.8rem 2rem;
    border-top: 0.8px solid gray;
    border-bottom: 0.8px solid gray;

}


.show-categories:hover{

    color: rgb(31, 31, 31);
    cursor: pointer;

}

.show-categories:hover > .arrow{

    border:solid rgb(44, 44, 44);
    margin-left: 0.7rem;
    margin-bottom: 0.3rem;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 0.3rem;

}    

.arrow {

    margin-left: 0.7rem;
    margin-bottom: 0.3rem;
    border: solid rgb(85, 85, 85);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 0.3rem;

}

.down {

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}

.btn-search{ 

    width: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

.form-search button[type=submit] {

    background-color: white;
    border: 0.8px solid gray;
    border-left: 0.8px solid rgb(180, 180, 180);


}

.form-search button[type=submit]:hover{

    background-color:  rgb(209, 209, 209);

}


.form-search button[type=submit]:hover>i{

    color: rgb(119, 119, 119);

}


.btn-search i{

    font-size: 90%;
    color: rgb(180, 180, 180);
}

.user-container{

    text-align: center;
    position: fixed;
    top: 0px;
    left: 87%;
    width: 5%;
    height: inherit;
    padding: 0.1rem;
    border-right: solid gray 0.1px;
    box-sizing: border-box;
    color: white;
    background-color: black;
    -webkit-box-shadow: 0 4px 4px -3px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, .2);
    z-index: 999;

}



.user-container i{

    padding: 1.8rem;
    font-size: 2rem;

}

.user-container:hover>i{

    color: rgb(180, 180, 180);
    cursor: pointer;

}

#nav-trigger-op,#nav-trigger-cl{

    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 40px;
    font-size: 3rem;
    text-align: center;
    display: none;

}

#nav-trigger-op i{

    font-size: large;
    margin: 2rem;
    color: rgb(255, 255, 255);

}

#nav-trigger-cl i{

    font-size: 22px;
    margin: 1.8rem;
    color: rgb(255, 255, 255);

}


/* main */ 

.title-container{

    position: absolute;
    width: 40rem;
    height: 40rem;
    margin-top: 15rem;
    margin-left: 18rem;
    font-family: sans-serif;
 
}

.title{

    font-size: 4.5rem;
    line-height: 1.4rem;
    letter-spacing: 1.3px;
    font-weight: bold;

}

#first{

    margin-bottom: 4rem;

}

#orange{

    color: #f39402;
    margin-bottom: 4rem;
}

.subtitle{

    margin-top: 6rem;
    width: 80%;
    font-size: 1.6rem;

}

.background{

    float: right;

}

.background img{

    width: 72rem;

}

.buttons{

    margin-top: 4rem;

}

.buttons .btn-findmentor:hover{

    background-color: rgb(65, 65, 65);
}

.buttons .lrn-more{

    margin-right: 5rem;

}

.buttons .lrn-more:hover{

    color: rgb(65, 65, 65);

}

.btn-findmentor{

    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    width: 18rem;
    height: 3rem;
    border-radius: 2rem;
    border: none;

}

.btn-findmentor:hover{

    cursor: pointer;

}

.lrn-more{

    margin-right: 3rem;
    margin-top: 0.6rem;
    float: right;
    text-decoration: underline;
    font-size: 1.6rem;
    font-weight: bold;
    width: 30%;
    cursor: pointer;

}

.lrn-more:hover{

    cursor: pointer;

}

.subparagraph{

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    margin-top: 60rem;

}

.first-subprg{

    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;

}

.second-subprg{

    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    text-align: center;
    line-height: 2;
    font-size: 1.6rem;
    color: rgb(34, 34, 34);

}

.icons{

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin-top: 18rem;
    margin-left: 30rem;
    width: 60%;

}

.icons img{

    margin-top: 60rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: width 0.2s;


}

.icons img:hover{

    cursor: pointer;

}

#logo1{
    
    width: 10rem;

}

#logo2{

    width: 12rem;

}

#logo3{

    width: 8rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

}

#logo4{

    width: 10rem;

}

#logo5{

    width: 14rem;
    margin-bottom: 2.7rem;

}


#logo1:hover{

    width: 11rem;
    padding: none;


}

#logo2:hover{

    width: 13.2rem;

}

#logo3:hover{

    width: 8.8rem;

}

#logo4:hover{

    width: 11.2rem;

}

#logo5:hover{

    width: 15.4rem;

}


/* ----------------------------- Responsive ----------------------------- */

@media screen and (max-width: 768px) {


    html{

        font-size: 5px;
       
    }

    .header{

        height: 40px;   

    }

    .open-bar{

        display: none;
        background: rgb(255, 255, 255);
        position: fixed;
        margin-top: 39px;
        left: 0;
        color: white;
        height: 100%;
        width: 100%;
        
    }

    .h1-container{

        width: 35%;
        height: inherit;
        border-right: solid gray 0.1px;

    }

    .h1-container > h1{

        font-size: 4rem;
        margin: auto;
        width: 50%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2rem 0 1rem 1rem;
    
    }

    .categories{

        display: none;

    }

    .categories.visible{
        
        display: inline-block;
        margin: auto;
        top: 150px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: unset;
        text-align: unset;
        font-weight: bold;
        font-size: 4rem;
        line-height: 5rem;
        position: fixed;
        height: unset;
        width: 200px;
        padding: unset;
        border-left: unset;
        box-sizing: unset;
        color: black;
        -webkit-box-shadow: unset;
        box-shadow: unset;
        z-index: 999;
    
    }

    .categories i{

        display: none;

    }

    .categories .arrow{

        margin-left: 2rem;
        display: inline-block;
    
    }

    .arrow {

        width: 1rem;
        height: 1rem;
        margin-left: 0.7rem;
        margin-bottom: 0.8rem;
        border: solid rgb(85, 85, 85);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 0.3rem;
    
    }
    
    .down {
    
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    
    }

    .search-container{

        display: none;
    }

    .search-container.visible{

        top: 70px;
        left: 120px;
        display: block;
        position: fixed;
        width: 55%;
        height: unset;
        padding: unset;
        border-left: unset;
        border-right: unset;
        box-sizing: unset;
        color: black;
        background-color: white;
        -webkit-box-shadow: unset;
        box-shadow: unset;
        z-index: 999;

    }

    .searcher{

        width: 150px;
        
    }

    .search button {

        padding: 0.6rem 1rem;        
        font-size: 1.7rem;
    
    }
    
    .header input[type=text] {
    
        padding: 2rem 0;
        font-size: 2.5rem;

    }
    
    .form-search{
    
        margin-top: 0.2rem;
        margin-right: 2rem;
    
    }
    
    .form-search input[type=text]{
        

        border-top: 0.8px solid gray;
        border-bottom: 0.8px solid gray;
        border-left: 0.8px solid gray;
        padding-left: 1.2rem;
    
    }
    

    .mbl-show-categories{
 
        font-size: 1.6rem;
        font-weight: bold;
        background-color: white;
        color: rgb(85, 85, 85);
        width: 30px;
        margin-top: 0.8rem;
        padding: 0.8rem 2rem;
        border-top: 0.8px solid gray;
        border-bottom: 0.8px solid gray;
    
    }

    .arrow2 {

        margin-top: 1em;
        margin-left: 2.2rem;
        margin-bottom: 0.3rem;
        border: solid rgb(85, 85, 85);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 0.3rem;
    
    }

    .btn-search i{

        font-size: 2.2rem;

    }
    
    .show-categories{
    
        display: none;
    
    }

    .user-container{

        display: none;
    }

    #nav-trigger-op {

        display: block;
        cursor: pointer;

    }

    #nav-trigger-cl {

        display: none;
        cursor: pointer;

    }

    .title-container{

        margin-top: unset;
        margin-left: unset;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 90%;
        height: 30rem;
        font-family: sans-serif;
        text-align: center;

    }

    .title{

        height: 20rem;
        width: 50rem;
        margin: auto;
        margin-top: 15rem;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

    }

    #first,#orange,#third{

        margin-bottom: 6rem;
        font-size: 6.5rem;

    }

    .subtitle{

        font-size: 3rem;
        width: 100%;
        text-align: center;

    }

    .buttons{

        margin-top: 7rem;

    }

    .btn-findmentor{

        font-size: 2.8rem;
        width: 32rem;
        height: 5.5rem;
        margin-left: 3.7rem;

    }

    .lrn-more{

        text-align: center;
        margin-right: 3rem;
        margin-top: 0.6rem;
        float: right;
        text-decoration: underline;
        font-size: 3.5rem;
        font-weight: bold;
        width: 30%;
        cursor: pointer;

    }

    .subparagraph{

        margin-top: 115rem;
        width: 100%;

    }

    .first-subprg{

        margin-top: 5rem;
        font-size: 2.8rem;
        margin-bottom: 5rem;
    }

    .second-subprg{

        font-size: 2.4rem;
        width: 80%;

    } 


    .icons{

        top: 144rem;
        margin-top: unset;
        height: 6%;
        margin-left: 0;
        width: 100%;
    
    }
    
    .icons img{
    
        margin-top: unset;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        transition: width 0.2s;
    
    }

    #logo1:hover,#logo2:hover,#logo3:hover,#logo4:hover,#logo5:hover{

        all: unset;

    }

    #logo1{
    
        width: 12rem;
    
    }
    
    #logo2{
    
        width: 14rem;
    
    }
    
    #logo3{
    
        width: 8rem;
        padding-right: 0;
        padding-left: 0;
    
    }
    
    #logo4{
    
        width: 11rem;

    }
    
    #logo5{
    
        width: 15rem;
    
    }

}